@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 780px;
}

#lucas{
    max-width: 800px;
}

#projetos {
    margin-top: -10px;
}
.contatofloat {
    position: fixed;
    left: -10px;
    top: 20px;
    transition: left 0.3s ease;
}

.contatofloat:hover {
    left: 10px;
}


.fa-html5 {
    color: #ec6231;
}

.fa-css3 {
    color: dodgerblue;
}

.fa-js {
    color: #F7DF1E;
}

.fa-node {
    color: #68A063;
}

.fa-angular {
    color: #DD0031;
}

.fa-react {
    color: #61DAFB;
}

.fa-php {
    color: #4F5D95;
}

.fa-python {
    color: #3572A5;
}

.fa-database {
    color: #4479A1;
}

.fa-bootstrap {
    color: #7952B3;
}

.fa-wind {
    color: #38B2AC;
}

.fa-vuejs {
    color: #4FC08D;
}

.subtexto {
 color: rgb(107, 107, 107);
}

